body,
input,
button {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #222;
}
img {
  align-items: center;
  margin: 70px 400px 0px 620px;
}

.search {
  background: #fff;
  display: flex;
  align-items: center;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 20px auto;
  width: 600px;
}

.searchbar {
  margin-left: 20px;
  outline: none;
  border: none;
  border-radius: 24px;
  width: 82%;
}
.buttons {
  margin: 30px 0 0 600px;
  align-items: center;
}
.butn {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.material-icons {
  color: #616263;
  margin-left: 10px;
}

#lang {
  color: #3c4043;
  display: inline-block;
  line-height: 28px;
  margin: 20px 0 0 600px;
}

#lang a {
  padding: 0px 2px;
}
li {
  list-style-type: none;
}
.top-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 12px;
  overflow: auto;
}
.top-nav a {
  font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
  padding: 6px 8px;
}
.top-nav i {
  padding: 6px 8px;
}
.top-nav a:hover {
  text-decoration: underline;
}
.footer {
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 14px 0px;
  position: fixed;
  background-color: #f2f2f2;
  justify-content: space-between;
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #70757a;
}
.footer-child {
  display: flex;
  justify-content: flex-start;
  padding: 0 20px;
}
.child {
  padding: 8px 10px;
}
