body,
input,
button {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #222;
}
img {
  align-items: center;
  margin: 70px 400px 0px 400px;
}

.search {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 10px auto;
  width: 500px;
}
.buttons {
  margin: 30px 0 0 400px;
  align-items: center;
}
.butn {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

#lang {
  color: #3c4043;
  display: inline-block;
  line-height: 28px;
  margin: 20px 0 0 410px;
}

#lang a {
  padding: 0px 2px;
}
li {
  list-style-type: none;
}
.top-nav {
  padding: 8px 12px;
  overflow: auto;
}
.top-nav a {
  font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
  float: right;
  padding: 6px 8px;
}

.top-nav a:hover {
  text-decoration: underline;
}
